DocsManagement.sln
DocsManagement.v*.suo
**.csproj*
/packages/
/DocsManagement/App_Data/
/DocsManagement/Content/themes/
/DocsManagement/bin/
/DocsManagement/obj/
/DocsManagement/Scripts/
/DocsManagement/FakeAgreementDocsRepository.cs
/DocsManagement/FakeServiceDocsRepository.cs
/DocsManagement/SeedData.cs
/DocsManagement/packages.config
/DocsManagement/favicon.ico
/DocsManagement.Test/obj/
/DocsManagement.Test/bin/
